* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/background.jpg);  
}  

#page {
  margin: auto;  
  width: 1000px;
}

header {
  margin: 25px 0 15px 90px;
  overflow: auto; 
}

#logo {
  float: left;
} 
 
#usermenu {
  float: right;
  margin-left: 100px; 
  height: 70px; 
}



section#contentPart {
  background-color: #fff;  
  width: 910px;  
  float: left;  
  box-shadow: 0 1px 5px rgba(0,0,0,0.10); 
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
} 

section {
   width: 670px;           
   float: left;
}

aside#sideInfo { 
   width: 230px;
   margin-left: 10px; 
   float: left;            
}

 
   
aside#slogan {
  width: 70px; 
  float: left;  
  padding-top: 20px;
  background-repeat: no-repeat;
  background-position: center bottom; 
  background-color: none;
  margin: 0;
} 

aside.nachbarn {
  background-image: url(../img/slogan_nachbarn.png);
  height: 174px;
} 

aside.startseite {
  background-image: url(../img/slogan_startseite.png);     
  height: 203px;
}
aside.anmelden {
  background-image: url(../img/slogan_anmelden.png);     
  height: 171px;
}
aside.registrieren {
  background-image: url(../img/slogan_registrieren.png);     
  height: 229px;
}
aside.neues-kennwort {
  background-image: url(../img/slogan_neues-kennwort.png);     
  height: 321px;
}                         

.message {
  padding: 7px;
}

.message.error {
   color: #791010; 
   background-color: #ffcfcf; 
   border: 1px solid #ff0000; 
} 

.message.status {
  color: #3d7910;
  background-color: #e3ffcf;
  border: 1px solid #3d7910;
}

footer {
  float: right;
  margin-right: 5px;
  margin-top:5px;  
  font-size: 12px;   
}    

footer a {
  text-decoration: none;
  color: #aaa;
} 


/***********************************************************************************************************************/
body, th, td, input, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

form {
}

fieldset {
}

input, textarea {
	font-weight: bold;
}

input.text {
	padding: 2px 5px;
	background: #F8FAEB;
	border-top: 1px solid #4D5719;
	border-left: 1px solid #4D5719;
	border-right: 1px solid #626456;
	border-bottom: 1px solid #626456;
}

input.button {
	background: #3C7BCF;
	border-top: 1px solid #3C7BCF;
	border-left: 1px solid #3C7BCF;
	border-right: 1px solid #3C7BCF;
	border-bottom: 1px solid #3C7BCF;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin-top: 1.5em;
	color: #626456;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -.05em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #8D8E85;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1.1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #3C7BCF;
}

a:hover {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #626456;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #3C7BCF;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 980px;
	height: 55px;
	margin: 0 auto;
}

#menu {
	float: left;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 25px;
	margin-right: 1px;
	padding: 10px 20px 0 20px;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	color: #8C8F7D;
}

#menu a:hover {
	background:  #F3F3F3;
	color: #2C2E22;
}

#menu .current_page_item a {
	background:  #F3F3F3;
	color: #2C2E22;
}


/* Content */

#content {
	float: left;
	width: 425px;
	padding: 0px 0px 0px 20px;
}

.post {
}

.post .title {
	margin: 0;
	font-weight: normal;
}

.post h1.title {
	background: url(images/img18.gif) no-repeat left top;
	padding: 15px 0  0 15px;
	height: 30px;
	font-size: 2.4em;
}

.post .entry {
	padding: 0 10px 30px 15px;
}

.post .meta {
	margin: 0;
	padding: 5px 0px 0px 15px;
	background: url(images/img04.gif) repeat-x left bottom;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CFCFCF;
}

.post .meta a {
	color: #CFCFCF;
}

.post .links {
	margin: 0;
}

.post .tags {
	margin: 0;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	background: url(images/img04.gif) repeat-x;
}

.post .links a, .post .tags a {
	border: none;
}

/* Recent Posts */

#recent-posts {
}

#recent-posts h2 {
	margin: 0;
	background: url(images/img13.gif) no-repeat left top;
	padding: 15px 0  0 15px;
	height: 30px;
}

#recent-posts h3 {
	margin: 0;
	font-size: 13px;
	padding: 15px 0  0 15px;
	background: url(images/img04.gif) repeat-x left bottom;
}

#recent-posts p {
	margin: 0 0 10px 0;
	padding: 15px 0  0 15px;
	line-height: 22px;
	font-size: 13px;
}

/* Sidebars */

.sidebar {
	float: left;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	margin-bottom: 2em;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0;
}

.sidebar li h2 {
	margin: 0 0 1em 0;
}

#sidebar1 {
	width: 230px;
	padding: 0px 0px 0px 20px;
}

#sidebar2 {
	width: 240px;
	padding: 0px 20px 0px 20px;
}

#sidebar2 li h2 {
	margin: 0 0 1em 0;
	background: url(images/img11.gif) no-repeat left top;
	padding: 15px 0  0 15px;
	height: 30px;
}

#sidebar2 li ul {
	line-height: normal;
	background: url(images/img04.gif) repeat-x;
}

#sidebar2 li li {
	padding: 5px;
	background: url(images/img04.gif) repeat-x left bottom;
	font-size: .8em;
}

#sidebar2 li a {
	border: none;
	padding-left: 10px;
}

#sidebar2 li a:hover {
	border: none;
	padding-left: 10px;
}


/* Calendar */

#calendar {
	margin: 0 auto;
}

#calendar caption {
	font-weight: bold;
}

#calendar table {
	width: 220px;
	text-align: center;
	border-collapse: collapse;
}

#calendar thead th {
	background: #CCCCCC;
	color: #FFFFFF;
}

#calendar tbody td {
	background: #EEEEEE;
}

#calendar #today {
	background: #B8D03B;
	font-weight: bold;
	color: #FFFFFF;
}

#calendar a {
	font-weight: bold;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}   


/***********************************************************************************************************************/


/**
 * Lokale Anpassungen am tastelessly-Theme
 */ 

form {
  padding: 10px;
  background-color: #888;
  margin-bottom: 10px;
  color: white;
}

form h2 {
  margin: 0 0 10px 0;
  color: white;
}

form a {
  color: white;
}

li h2 {
  margin: 0 0 10px 0;
}

label {
  color: white;
}

textarea,
input.input {
  display: block;
  width: 394px;
  padding: 4px;
  margin-bottom: 10px;
}

input[type=file] {
  color: white;
}

#actions,
#board,
#messages,
#photos,
#comments,
#users {
  margin: 0;
} 

#actions li,
#board li,
#messages li,
#photos li,
#comments li,
#users li.hausnummer {
  background-color: #F3F3F3;
  margin: 0 0 10px 0;
  padding: 10px;
  list-style-type: none;
  line-height: 1.2em;
}

#photos a.edit {
  float: right;
}

img.avatar {
  border: solid 4px white;
  margin: 0 4px -4px 0;
}
 
#actions img.photo,
#photos img.photo {
  display: block;
  border: solid 6px #CCC;
  margin-bottom: 4px;
}

#photo {
  width: 670px;
}

#avatar {
  display: block;
  border: solid 6px #CCC;
  margin-bottom: 4px;
}

.sidebar li p {
  margin: 0 0 0 15px;
  padding: 0;
}

#sidebar2 li a {
  padding: 0;
}

#random-user h2 span {
  display: block;
  font-size: 0.8em;
  line-height: 0.8em;
  font-weight: normal;
  text-transform: none;
}

#random-photo img {
  display: block;
}

#invite-link a {
  background: #F3F3F3;
  color: #2C2E22;
  display: block;
  float: right;
  font-size: 1.1em;
  font-weight: bold;
  height: 25px;
  padding: 10px 20px 0px;
  text-decoration: none;
}

form p.explain {
  margin: -8px 0 10px 0;
  font-size: 1em;
  line-height: 1.1em;
}

#map {
  display: block;
  float: right;
  margin-right: 20px;
}

#gifts li {
  list-style-type: none;
  width: 140px;
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 40px;
}

#gifts li img {
  display: block;
}

.handle {
  display: block;
  margin-bottom: 10px;
}

.folded {
  display: none;
}

.message {
  position: absolute; 
  top: 0; 
  font-size: 1.4em; 
  padding: 10px; 
  width: 100%; 
}

.message.status {
  background: #CFC;
}

.message.error {
  background: #FCC;
}

/*****/
#switch-theme {
  opacity: 0.05; 
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  background-color: transparent;
}
               
#switch-theme:hover {
  opacity: 1; 
} 
/******************/
#board li span {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 33px; 
  color: #666;
}                        