section#contentPart {
  background-color: #fff;  
  width: 910px;    
  margin: 0;  
  box-shadow: 0 1px 5px rgba(0,0,0,0.10); 
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
}

section {
   width: 670px;           
   float: left;
   margin: 0 ;
}

form {
  width: 320px;
  clear: left;
}

textarea,
input.input {
  display: block;
  width: 100%;
}

ul.ui-autocomplete li {
  background: #EEE;
  //border: 1px solid #888;
  cursor: pointer;
  list-style-type: none;
  padding: 4px;
  width: 320px;
}

.handle {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}

.folded {
  display: none;
}

/*
 * Chat
 */
#chat {
  position: fixed;
  display: none;
  bottom: 0;
  right: 0;
  width: 16%;
  height: 1em;
  background-color: white;
  border: solid 2px #888;
  padding: 4px 10px;
}

/*
 * Photos
 */

#topics ul li,
#album ul li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}

#blocks-above {
  margin-bottom: 10px;
  overflow: hidden;
}

#photo {
  clear: left;
} 

div#photos {
  clear: left;
  overflow: hidden;
}

div.photo {
  display: block;
  float: left;
  position: relative;
  margin: 0 10px 6px 0;
}

a.edit {
  display: block;
  position: absolute;
  background: white;
}

.makeComment {
  margin-top: 20px;
  margin-bottom: 10px;
}     

.allComments {
  margin-top: 20px;
  margin-bottom: 10px;
}    

#comments {
  margin-bottom: 20px;
  
  li {
    margin-bottom: 5px;
  }                   
  
  li:last-child {
    margin-bottom: 0px;
  }
}