section#contentPart {
  background-color: #fff;
  width: 910px;
  float: left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
}
section {
  width: 670px;
  float: left;
}
