@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v2/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: normal;
  src: local('Waiting for the Sunrise'), local('WaitingfortheSunrise'), url('http://themes.googleusercontent.com/font?kit=eNfH7kLpF1PZWpsetF-ha8dedCtmJg55pF6dIGeWor0C1LhKU8qFLLahJuQDJSaO') format('woff');
}
