header {
  margin: 25px 0 15px 90px;
  overflow: auto; 
}

#logo {
  float: left;
} 
 
#usermenu {
  float: right;
  margin-left: 100px; 
  height: 70px; 
}


#header {
	width: 980px;
	height: 55px;
	margin: 0 auto;
}

#menu {
	float: left;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 25px;
	margin-right: 1px;
	padding: 10px 20px 0 20px;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	color: #8C8F7D;
}

#menu a:hover {
	background:  #F3F3F3;
	color: #2C2E22;
}

#menu .current_page_item a {
	background:  #F3F3F3;
	color: #2C2E22;
}